/*body{*/
    /*color: #ff0000;*/
    /*background: #bbc2e2;*/
/*}*/



/*li::after{*/
    /*content: '!';*/
    /*font-size: xx-large;*/
/*}*/

/*li::before{*/
    /*content: '¿';*/
    /*font-size: large;*/
/*}*/
/*.banner{*/
    /*position: fixed;*/
/*}*/
/*.fixed{*/
    /*position: fixed;*/
/*z-index: 10;*/
    /*margin-left: 150px;*/
    /*top: 0px;*/
/*}*/
/*.baran{*/
    /*position:relative;*/
    /*border: 1px solid #000;*/
    /*width: 885px;*/
    /*height: 529px;*/
    /*margin: 0 auto;*/
/*}*/
/*.first{*/
    /*position: relative;*/
    /*top: 630px;*/
    /*left: 30px;*/
    /*margin-left: 150px;*/
    /*border: 1px solid #000000;*/
    /*!*width: 885px;*!*/
    /*!*height: 529px;*!*/

/*}*/

/*.second{*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*!*left: 30px;*!*/
    /*margin-left: 150px;*/
    /*border: 1px solid #000000;*/
    /*!*width: 885px;*!*/
    /*!*height: 529px;*!*/
/*}*/

.container{
    width: 1280px;
    margin: 0 auto;
}

.imageContainer {
    margin: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(white, black);
    box-shadow: 17px 17px 24px 0 black;
    width: 311px;
    height: 204px;
    /*overflow: hidden;*/
}

.details {
    background-color: darkorange;
    color: white;
    position: relative;
}

.proposal:hover .details {
    /*transform: translateY(-25px);*/
    transition-duration: 1s;
    animation:ddd .7s  ease 1,back 1s ease 1.5s 1,dds 1.4s ease 4s 1 ;
}

/*.proposal:hover > h1 {*/
    /*color: darkorange;*/
/*}*/

.details:hover {
    background-color: blueviolet;
}

.price::after {
    content: '€'
}

.proposal {
    width: 350px;
}
h1 {
    text-align: center;
}

.imageContainer img {
    margin: 2px;
}








@keyframes back{
    25%{
        bottom:8px;
    }
    50%{
        left:-2%;
        bottom:0px;
    }

    100%{
        left:13%;
        bottom:0px;
    }
}
@keyframes ddd{
    25%{
        bottom:50px;
    }
    50%{
        bottom:0px;
        left:50%;

    }
    80%{

        left:50%;
    }

    100%{
        left:13%;
    }
}

